<div class="col s12 m6 ">
    <div class="card small blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"><b class="class_code">Code:</b> <%= courses.code %> </span>
            <p><b>Name:</b> <%= courses.name %> </p>
            <p><b>Description</b> <%= courses.description %></p>
        </div>
        <div class="card-action">
            <a href="#">View Course</a>
            <%= link_to "View Course", course_path(courses.id) %>
        </div>
    </div>
</div>