<h1>Course Listing</h1>

<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to web dev</li>
    <li>Description: Intro to web development </li>
</ul>

<ul>
    <li>Code: CS1112</li>
    <li>Name: cont to web dev</li>
    <li>Description: cont to web development </li>
</ul>