<nav>
<div class="container">
    <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "about", about_path %></li>
        <li><a href="#">new course</a></li>
    </ul>
    </div>
</div>
</nav>