<nav>
    <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "about", about_path %></li>
        <li><%= link_to "new course", courses_new_path%></li>
    </ul>
    </div>
</nav>